html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-image: url(https://images.unsplash.com/photo-1509486432407-f8fb9cc99acd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=688&q=80);
  background-size: cover;
}

h1 {
  font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
  font-size: 64px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

p::selection {
  background-color: #ff0000;
}

a:link {
    text-decoration: none;
    color: #ffeb3b;
}

a:visited {
    color: #74690A;
    text-decoration: line-through;
}

a:hover {
  color: #ffeb3b;
  text-decoration: underline;
}

#button {
  display: inline-block;
  height: 80px;
  margin-top: 20px;
  margin-right: 10px;
  line-height: 80px;
  border: 2px solid #ffffff;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  padding: 0 35px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 28px;
  text-decoration: none;
  color: #ffffff;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#button:hover {
  background-color: #ffeb3b;
  border: 2px solid #ffeb3b;
  color: black;
}

br {
  margin-bottom: : 50px;
}
