html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-image: url(https://images.unsplash.com/photo-1509486432407-f8fb9cc99acd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2488&q=80);
  background-size: cover;
}

h1 {
  font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
  font-size: 58px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffeb3b;
  padding-bottom: 25px;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 400;
  color: #f9f9f9;
  padding-bottom: 25px;
}

h1::selection ,p::selection {
  background-color: #315efb;
}

a:link {
    text-decoration: none;
    color: #315efb;
}

a:visited {
    color: #1E378C;
    text-decoration: line-through;
}

a:hover {
  color: #284ED2;
  text-decoration: underline;
}

#button {
  display: inline-block;
  height: 60px;
  margin-top: 20px;
  margin-right: 10px;
  line-height: 60px;
  border: 2px solid #191919;
  background-color: #191919;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 35px;
  font-family: "Noto Sans", sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: #ffffff;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#button:hover {
  background-color: #ffeb3b;
  border: 2px solid #ffeb3b;
  color: black;
}

br {
  margin-bottom: : 50px;
}
