html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-image: url(https://images.unsplash.com/photo-1509486432407-f8fb9cc99acd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2488&q=80);
  background-size: cover;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #f9f9f9;
  padding-bottom: 25px;
}

p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  color: #f9f9f9;
  padding-bottom: 25px;
}

h1::selection ,p::selection {
  background-color: #315efb;
}

a:link {
    text-decoration: none;
    color: #315efb;
}

a:visited {
    text-decoration: line-through;
    color: #1E378C;
}

a:hover {
  text-decoration: underline;
  color: #284ED2;
}

#button {
  display: inline-block;
  height: 60px;
  margin-top: 20px;
  margin-right: 10px;
  line-height: 60px;
  border: 2px solid #121212;
  background-color: #121212;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 35px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#button:hover {
  background-color: #315EFB;
  border: 2px solid #315EFB;
  color: white;
}

br {
  margin-bottom: : 50px;
}
