#welcomeScreen {
  max-width: 800px;
  padding: 80px;
  /* background-image: url(https://images.unsplash.com/photo-1509486432407-f8fb9cc99acd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=688&q=80);
  background-size: cover; */
  background-color: #0B0B0B;
}

section,
#welcomeScreen h1, p {
  margin: auto;
}
